<h1>完了済みのTodoリスト</h1>
<div class = "link">
  <% @tasks.each do |task| %>
    <p>
      <%= link_to(task.task, task_path(task)) %>
      <%= link_to '削除',  real_destroy_task_path(task), { method: :delete, data: { confirm: 'タスクを削除しますか？' } }%>
    </p>
  <% end %>
</div>

<div class = "show" >
  <%= link_to 'カレンダーへ', month_path %>
 </div>
